<%- include ("templates/header.ejs", {titulo:"Recibe Datos"}) %>

<div class="alert alert-primary" role="alert"> Nombre: <%= nombre %></div>
<div class="alert alert-primary" role="alert"> Edad <%= edad %></div>


<%- include("templates/flooter.ejs") %>